#banner
	.banner_content
		%h1 EverNote
		%p Your life's Work!
		%button= link_to 'Sign Up', new_user_registration_path
#testimonial
	.wrapper
		%p.qoute "I keep all our important documents with EverNote."
		%p.name - Kendall Dockery
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Journal
				Pork belly Truffaut taxidermy artisan keffiyeh. Semiotics kale chips four loko hella locavore, before they sold out trust fund tilde DIY hoodie brunch umami.
			.callout
				%h2 Notes
				Pork belly Truffaut taxidermy artisan keffiyeh. Semiotics kale chips four loko hella locavore, before they sold out trust fund tilde DIY hoodie brunch umami.
			.callout
				%h2 Epic
				Pork belly Truffaut taxidermy artisan keffiyeh. Semiotics kale chips four loko hella locavore, before they sold out trust fund tilde DIY hoodie brunch umami.

#botton_cta
	.wrapper
		%h2 Store ALL your notes!
		%p Be Different, Join the Elite!
		%button= link_to 'Start HERE!!!', new_user_registration_path

%footer
	%p &copy; EverNote inc.